@import url(./reset.css);
@import url(./rootManger.css);
@import url(./section_blcok/header.css);
@import url(./section_blcok/footer.css);
@import url(./section_blcok/wide-banner.css);
@import url(./section_blcok/breadcrumb.css);
:root {
  font-size: 16px;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)),
    url(../img/texture/body_bg.png);
}


.fuild-contanier {
  width: 100%;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  /* outline: 2px solid yellow; */
}


.d-flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.b-shadow {
  box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;

}

section {
  content: "";
  padding: 30px 0;
  /* outline: 2px solid yellow; */
}

/* in moblie and pad ,click menuIcon  add or Toggle this className */
body.overflow{
  overflow: hidden;
  background-image: linear-gradient(rgb(54 54 54 / 80%),
   rgb(35 35 35 / 86%)), url(../img/texture/body_bg.png);
}

main.newsEventDetail h2 {
  font-size: var(--CHfs-22px);
  font-weight: var(--fw-B-700);
  color: var(--black-color);
}



.news-title-bar {
  width: 90%;
  margin: 0 auto;
  padding: 0px 2.5% 1.4% 2.5%;
  /* overflow: hidden; */
  box-sizing: border-box;
  line-height: 1.2;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--non-notice-color);
}
.news-title-bar .news-title{
 
  margin-right: auto;
  padding: 10px;
  display: inline-block;
  background-color: var(--notice-color);
  color:var(--body-color);
}

.socail-list-icons{
  
  text-align: right;
  vertical-align: middle;
  margin-right: 2em;
}
.socail-list-icons a{
  display: inline-block;
  margin-left: 20px;
  color:var(--black-color);
  font-size: 16px;
  padding: 10px;

  border-radius: 50%;
  border: 1px solid var(--non-notice-color);
  

  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.socail-list-icons a:nth-child(1),
.socail-list-icons a:nth-child(2),
.socail-list-icons a:nth-child(3){
  padding: 10px 12px;
}
.socail-list-icons a:last-child{
  border-radius: 30px;
}
.socail-list-icons >a{
  text-decoration: none;
}
.socail-list-icons a:hover {
  background-color: var(--notice-color);
}

.socail-list-icons i{

  font-size: 30px;
  color: var(--black-color);
}
.socail-list-icons span{
  font-size: 22px;
  color: var(--black-color);
}

.socail-list-icons a:hover i{
  color:var(--body-color);
}
.socail-list-icons a:hover span{
  color:var(--body-color);
}


.news-ImgBox{
  display: block;
  margin: 50px auto;
  width: auto;
}
/* 裝飾線 */
/* 圖片 */
.news-detail .box{
  /* outline: 2px solid red ; */
  width: 90%;
  margin: 50px auto;
}
.news-ImgBox img{
  /* outline: 2px yellow solid; */
  width: 100%;
  height : 100%;
  object-fit: cover;
}
/* 記者文字 */
.reporter{
  display: block;
  text-align: right;
  margin: 1rem 2rem 2rem 0px ;
  line-height: 1.3rem;
  font-weight: 600;
}

/* 報導內文 */
#news-txt{
  padding: 3.5% 2.5% 3.5% 8.5%;
  line-height: 1.85;
  text-indent: 3rem;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}

/* 裝飾線 */
#news-txt{
  position: relative;
}
#news-txt .decos:first-child::before{
  content: '';
  height: 10px;
   width: 14%;
  max-width: 200px;
  position: absolute;
  top: -4px;
  right: 0;
  background-color: var(--notice-color);
}
#news-txt .decos:first-child:after{
  content: '';
  position: absolute;
  max-width: 850px;
  width: 60%;
  top: -2px;
  right: 0;
  height: 6px;
  background-color: var(--notice-color);
  opacity: 0.3;
}
#news-txt .decos:last-child::before{
  content: '';
  height: 10px;
  width: 14%;
  max-width: 200px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: var(--notice-color);
}
#news-txt .decos:last-child::after{
  content: '';
  height: 6px;
  max-width: 850px;
  width: 60%;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--notice-color);
  opacity: 0.3;

}

#news-txt p+p{
  margin-top: 40px;
}


/* 留言板區 */
.message.box {
}
.message.card{
  padding: 2.5%;
  border: 1px var(--non-notice-color) solid;
  border-radius: 5px;
  margin-left: 15%;
  
  background-color:var(--body-color);
  box-shadow:
      rgb(60 64 67 / 30%) 0px 1px 2px 0px,
      rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.message-own {
  /* outline:2px solid red; */
  padding: 10px 8px;
  align-items: center;
  position: relative;
  border-radius: 5px;
  background-color: var(--notice-color);
}
.message.box .img {
  max-width: 100px;
  margin-right: 1.5rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.message-own img {
  display: block;
  max-width: 100%;
}
.message-own::after{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -10%;
  height: 2px;
  width: 95%;
  background-color: var(--non-notice-color);
}

.input{
  width: 100%;
  min-width: 250px;
}
.message-own input[type="text"]{
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 94px);
 
  padding: 10px 10px 10px 1.5rem;
  border: 2px solid var(--non-notice-color);
  border-right: 0px;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
  vertical-align: middle;
}
.message-own .input span{
  display: inline-block;
  box-sizing: border-box;
  padding: 11px;
  height: 40px;
  border: 2px solid var(--non-notice-color);
  background-color: var(--body-color);
  margin-left: -4px;
  border-left: 0px;
  font-size: 11px;
  border-radius: 0px 10px 10px 0px;
  vertical-align: middle;
}
.message-own .input span:hover{
  background-color: var(--notice-color);
  color: var(--body-color);
}
.message-own .input span:active{
  background-color: var(--active-color);
  color: var(--body-color);
}
.message-own .input input:focus{
  /* border: 0px; */
  outline:none;
}


/* 其他留言 */
.message-other{
  margin-top: 2rem;
  padding: 20px;
  justify-items: center;
  align-items: center;
  position: relative;
}
.message-other:after{
  content: "";
  height: 2px;
  width: 95%;
  position: absolute;
  bottom: -10%;
  background-color: var(--non-notice-color);
}
.message-txt{
  flex-grow: 1;
}
.message-other-tag{
  

  align-self: flex-end;
}

.message-other a{
  color:var(--black-color);
}
.message-other p+p{
  margin-top: 0.8rem;
}
.message-other.d-flex .img{
  max-width: 70px;
}

@media screen and (max-width: 1293px) {
  .news-title-bar .news-title{
    margin-bottom: 20px;
  }
   .message.box{
    width: 100%;
  }
  .message.box .message.card{
    margin-left: 0;
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .news-txt #news-txt{
    padding: 5%;
  }
  main .message-txt h2{
    font-size:  var(--CHfs-18px);
  }
  main #news-txt{
    font-size:  var(--CHfs-18px);
  }
 
}

@media screen and (max-width: 414px) {
  .news-title-bar{
    padding: 0px;
  }
  .socail-list-icons{
    margin: 0;
  }
  .message.box .img{
    width: 70px;
  }
  .socail-list-icons a{
    margin-left: 3px;
    margin-bottom: 10px;
  }

  .message-own input[type="text"]{
    width: calc(85% - 94px);
    
  }

  .message-other-tag{
    font-size: 14px;
  }

 .message-others .message-other-tag p+p{
    display: none;
  }
  
}


