@import url(./reset.css);
@import url(./rootManger.css);
@import url(./section_blcok/header.css);
@import url(./section_blcok/footer.css);
@import url(./section_blcok/wide-banner.css);
@import url(./section_blcok/breadcrumb.css);
@import url(./section_blcok/newscardandToplist.css);
@import url(./section_blcok/recommend.css);

:root {
  font-size: 16px;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)),
    url(../img/texture/body_bg.png);
}


.fuild-contanier {
  width: 100%;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  /* outline: 2px solid yellow; */
}


.d-flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.b-shadow {
  box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
 
}

section {
  content: "";
  padding: 30px 0;
  /* outline: 2px solid yellow; */
}
/* in moblie and pad ,click menuIcon  add or Toggle this className */
body.overflow{
  overflow: hidden;
  background-image: linear-gradient(rgb(54 54 54 / 80%),
   rgb(35 35 35 / 86%)), url(../img/texture/body_bg.png);
}

/* 控制區域字體大小 */
main.newsEvent h1{
  font-size: var(--CHfs-28px);
  font-weight: var(--fw-B-700);
  color:var(--notice-color)
}
main.newsEvent h2{
  font-size: var(--CHfs-22px);
  font-weight: var(--fw-B-700);
  color:var(--black-color);
}

main.newsEvent p{
  font-size: 1rem;
  color: var(--black-color);
  font-weight: var(--fw-N-400);
  line-height: 1.6rem;
}
.newActivy{
  column-gap: 2%;
  padding: 0 3%;
  justify-content: center;
}

 .newstions.left{
  order: 1;
  width: 70%;
 }
  .newstions.right{
  order: 2;
  width: 30%;
  /* margin-right: 1.2rem; */
 }
@media screen and (max-width:960px) {
    section {
        padding: 30px 0;
    }
    .newActivy{
      flex-direction: column;
    }
    .newstions.left{
      order: 2;
      width: 100%;
    }
    .newstions.right{
      order: 1;
      width: 100%;
    }
}

@media screen and (max-width:540px) {
    section {
        padding: 15px 0;
    }
}

@media screen and (max-width:414px) {
    section {
        padding: 0 0;
    }
  
    .newActivy{
      padding: 0 5%;
    }
}