@import url(./reset.css);
@import url(./rootManger.css);
@import url(./section_blcok/header.css);
@import url(./section_blcok/footer.css);
@import url(./section_blcok/wide-banner.css);
@import url(./section_blcok/breadcrumb.css);
:root {
  font-size: 16px;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)),
    url(../img/texture/body_bg.png);
}


.fuild-contanier {
  width: 100%;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  outline: 2px solid yellow;
}


.d-flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.b-shadow {
  box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;

}

section {
  content: "";
  padding: 30px 0;
  /* outline: 2px solid yellow; */
}



main.newsEventDetail h2 {
  font-size: var(--CHfs-22px);
  font-weight: var(--fw-B-700);
  color: var(--black-color);
}



.news-title-bar {
  width: 90%;
  margin: 0 auto;
  padding: 0px 35px 10px 35px;
  /* overflow: hidden; */

  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--non-notice-color);
}
.news-title-bar .news-title{
 
  margin-right: auto;
  padding: 10px;
  display: inline-block;
  background-color: var(--notice-color);
  color:var(--body-color);
}
.socail-list-icons{
  
  text-align: right;
  vertical-align: middle;
  margin-right: 2em;
}
.socail-list-icons a{
  display: inline-block;
  margin-left: 20px;
  color:var(--black-color);
  font-size: 16px;
  padding: .6rem .6rem;

  border-radius: 50%;
  border: 1px solid var(--non-notice-color);
  

  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.socail-list-icons a:last-child{
  border-radius: 30px;
}
.socail-list-icons a:hover {
  background-color: var(--notice-color);
}

.socail-list-icons i{

  font-size: 30px;
  color: var(--black-color);
}
.socail-list-icons a:hover i{
  color:var(--body-color);
}

.news-ImgBox{
  display: block;
  margin: 50px auto;
  width: auto;
}
.news-ImgBox .box{
  margin: auto;
  width: 90%;
}
.news-ImgBox img{
  outline: 2px yellow solid;
  max-width: 100%;
  max-height : 100%;
  object-fit: cover;
}

.reporter{
  
  display: block;
  text-align: right;
  margin-right: 7rem;
  line-height: 1.3rem;
}