.band-detail-All .band-detail-activies {
  flex-grow: 1;
  background-color: var(--body-color);
  margin-bottom: 15vh;
}

.band-detail-activies .title-header {
  align-items: center;
  box-sizing: border-box;
  height:50px;
  padding: 10px 20px;

  color: var(--body-color);
  background-color: var(--notice-color);
  border-radius: 3px;
  font-size: 22px;
  font-weight: 800;
  position: relative;
}

.band-detail-activies .nesws-actives-List li {
  display: grid;
  color: var(--black-color);
  align-items: center;
  font-size: var(--CHfs-22px);
  font-weight: var(--fw-B-700);
  border-bottom: 1px dotted var(--non-notice-color);
  padding: 7.5px 0px 7.5px 1.5rem;
 grid-template-columns: 30px 1fr 1fr 1fr;
  font-size: var(--CHfs-18px);
  font-weight: bold;
}

.band-detail-activies .nesws-actives-List .header-time a {
  color: var(--black-color);
}

.band-detail-activies .nesws-actives-List .nesws-actives-header {
  color: var(--non-notice-color);
  text-align: center;  
}

.band-detail-activies .nesws-actives-List .newsandActives span{
  text-align: center;
}

.newsandActives span.header-function i {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 10px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--body-color);
  outline: 1px solid var(--non-notice-color);
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  position: relative;
}

.newsandActives span.header-time {
  color: var(--black-color);
}

.newsandActives span.header-function i:hover {
  color: var(--body-color);
  background-color: var(--notice-color);
}

.newsandActives span.header-function i:active {
  color: var(--body-color);
  background-color: var(--active-color);
}

/* 1跟3 icon 位置修正 */
.newsandActives span.header-function i:nth-child(1)::before,
.newsandActives span.header-function i:nth-child(3)::before {
  margin-left: -2px;
}

/* li Hover 效果 */
.band-detail-activies .nesws-actives-List li:hover:not(:first-child) {
  background-color: var(--notice-color);
}
.band-detail-activies .nesws-actives-List li:hover:not(:first-child) span:not(:nth-child(3)),
.band-detail-activies .nesws-actives-List li:hover:not(:first-child) a{
  color: var(--body-color);
}
/* 下拉選單CSS 設定 */
.band-detail-activies .band-detail-title::before {
  content: "-";
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  bottom: calc(50% - 10px);
  right: 20px;
  transition: .3s;
}

.band-detail-activies .slideToggle.active .band-detail-title::before {
  content: "+";
  transition: .3s;
}

.band-detail-activies .band-detail-title:hover::before {
  transform: scale(1.3);
}

.band-detail-activies .slideToggle.active .band-detail-title:hover::before {
  transform: scale(1.3) rotate(180deg);
}


@media screen and (max-width:460px) {
  .band-detail-activies .nesws-actives-List li{
    grid-template-columns: 30px 1fr 1fr;
  }
  .timePunshied{
    display: none;
  }
  .header-time{
    display: none;
  }
}