.band-detail-All {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

/* 樂團大圖片 */
.band-block-all {
  flex-basis: 780px;
}

/* 樂團排行 */
.band-detail-bandToplists {
  flex-grow: 1;
}

/* 樂團簡介 */
.band-detail-Intro {
  flex-basis: 100%;

}

.band-detail-album {
  flex-basis: 100%;
}


/* h2樂團標題列 */
.band-detail-album .title-header,
.band-detail-bandToplists .title-header,
.band-detail-Intro .title-header,
.band-block-all .title-header {
  align-items: center;
  margin-bottom: 10px;

  box-sizing: border-box;
  height: 70px;
  padding: 10px 20px;

  color: var(--body-color);
  background-color: var(--notice-color);
  border-radius: 3px;
  font-size: 22px;
  font-weight: 800;
  position: relative;
}


.band-detail-bandToplists>.title-header,
.band-detail-Intro>.title-header,
.band-detail-album>.title-header {
  cursor: pointer;
}

/* 收和按鈕製作 */
.band-detail-bandToplists .title-header::before,
.band-detail-Intro .title-header::before,
.band-detail-album .title-header::before {
  content: "-";
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  bottom: calc(50% - 10px);
  right: 20px;
  color: var(--body-color);
  transition: .3s;
}

/* 收和按鈕製作 add class "active" with SilderToogle */
.band-detail- bandToplists .title-header.active::before,
.band-detail-Intro .title-header.active::before,
.band-detail-album .title-header.active::before {
  content: "+";
  transform: rotate(180deg);
}

/* hover 效果 */
.band-detail-bandToplists .title-header:hover::before,
.band-detail-Intro .title-header:hover::before,
.band-detail-album .title-header:hover::before {
  transform: scale(1.5);
}


.band-block-all .title-header .band-detail-title {
  margin-right: auto;
  line-height: 30px;
}

.band-block-all .title-header i {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  color: var(--black-color);
  outline: 1px solid var(--non-notice-color);
  background-color: var(--body-color);

  box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  border-radius: 15px;
  overflow: hidden;
}


.icon-list i:hover {
  color: var(--body-color);
  background-color: var(--notice-color);
}

.icon-list i:active {
  color: var(--body-color);
  background-color: var(--active-color);
}

.band-detail-bandCover {
  flex-direction: column;
  justify-items: center;
  padding: 20px;

  background-image: url("/img/bandIntro/BandDetailBigBG01.png");
  background-repeat: no-repeat;
}

/* 樂團標籤細節 */
.music-kind-tag {
  position: relative;
}

.band-detail-bandCover .music-kind-tag {
  width: 100%;
  text-align: right;
}

.band-detail-bandCover .music-kind-tag li {
  display: inline-block;
  margin-bottom: 10px;
}

.band-detail-bandCover .music-kind-tag li>a {
  display: inline-block;

  cursor: pointer;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: var(--active-color);
  color: var(--body-color);
  outline: 1px solid var(--non-notice-color);
  box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.band-detail-bandCover .music-kind-tag li:not(:last-child) {
  margin-right: 8px;
}

.band-detail-bandCover .music-kind-tag li>a:hover {
  background-color: var(--notice-color);
}

/* 樂團圖片 */
.band-detail-bandCover img {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 50px auto 0px auto;
}


/* 樂團toplist 歌曲 */



/* 人氣排名下降上升 icon */
.band-song-toplists li {
  display: grid;
  align-items: center;
  font-size: var(--CHfs-22px);
  font-weight: var(--fw-B-700);
  color: var(--black-color);
  padding: 7.5px 0;
  grid-template-columns: 1fr 2fr 1fr;
  padding-left: 2rem;
}

.band-song-toplists li:nth-child(odd) {
  background-color: var(--body-color);
}

.band-song-toplists li:nth-child(even) {
  background-color: var(--non-notice-color);
}

.band-song-toplists li:hover {
  background-color: var(--notice-color);
}

.band-song-toplists li:hover span:not(:last-child){
  color: white;
}

/* 排行icon */
.band-song-toplists li span .fa-caret-down {
  margin-left: 3px;
  color: green;
}

.band-song-toplists li span .fa-caret-down.reverse {
  transform: scaleY(-1);
  color: red;
}

/* 熱門歌曲ICON */
.band-song-toplists .title .fa-fire {
  color: var(--danger-color);
  margin-left: 5px;
}

/* 新曲ICON */
.band-song-toplists .title .fa-bolt {
  color: var(--danger-color);
  margin-left: 5px;
}

/* - ICON */
.band-song-toplists span i.flat {
  position: relative;
}

.band-song-toplists span i.flat:before {
  content: "";
  margin-left: 10px;
  height: 4px;
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black-color);
}

.band-song-toplists .icons-list i {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 10px;
  padding: 10px;
  margin: 5px;

  display: inline-block;
  border-radius: 50%;
  background-color: var(--body-color);
  outline: 1px solid var(--non-notice-color);

  box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  position: relative;
}

.band-song-toplists .icons-list i::before {
  margin-left: -5px;
}

.band-song-toplists .icons-list i:nth-child(2)::before {
  margin-left: -2px;
}

.band-song-toplists .icons-list i:nth-child(3)::before {
  content: '+';
  font-weight: bold;
  font-size: 20px;
  transform: rotate(180deg);
}

.band-song-toplists .icons-list i:not(:nth-child(2)) {
  padding: 10px 15px;
}


.band-song-toplists .icons-list i:hover {
  box-shadow: inset 0px 0px 5px var(--non-notice-color);
  background-color: var(--active-color);
  color: var(--body-color);
}



/* 樂團簡介 */
.band-detail-album .title-header,
.band-detail-Intro .title-header {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0;
}

.band-detail-txt {
  padding: 30px 55px;
  box-sizing: border-box;
  font-size: var(--CHfs-18px);
  font-weight: bold;
  width: 100%;
  color: var(--black-color);
  background-color: var(--body-color);
}

/* 內文段落字句 */
.band-detail-txt .detail-txt-lorem:not(:last-child) {
  line-height: 22px;
  margin-bottom: 2rem;
}