.big-wide-banner{
    background: linear-gradient(black,rgb(11, 11, 84));
}

.about-banner{
    margin-top: 80px;
    overflow: hidden;
}
.about-banner-titles{
    box-sizing: border-box;
    width: 100%;
    color:var(--body-color);
    padding: 30px 60px;
    font-size: 48px;
}

.about-banner .ch-title{
    width: 65%;
    line-height: 1.6em;
    margin-bottom: 50px;
    position: relative; 
}
.about-banner .ch-title h1{
    font-size: 1.25em;
    font-weight: Bold;
    margin-bottom: 2rem;
}

.about-banner .ch-title h2{
   font-size: 1em; 
}

.eng-title{
    width: 100%;
    line-height: 1.5em;
    margin-top: 1.5em;
    font-size: 0.5em;
    position: relative;
}
.eng-title a {
    position: absolute;
    bottom: 0;  
    right: 0;
    font-size: .6em;
    text-decoration: underline;
    text-transform: uppercase;
    color:white;
}
.eng-title a:hover{
    background-color: red;
}

/* 專輯區 */
.about-banner-ablumns{
    width: 100%;
    height: 1000px;
    margin: 50px auto;
    position: relative;
}



.big-wide-banner .ablumn img{
    width: 100%;
    height: auto;
}
.big-wide-banner .ablumn{
    transition: all 1.5s;
    width: 100%;
    height: 100%;
}

/* 翻牌大小 與 訂位 */
.box1.ablumn{
    width: 360px;
    height: 360px;
    position: absolute;
    left: calc(0% + 50px);
    bottom: calc(0% + 15px);
}

.box2.ablumn{
    width: 280px;
    height: 280px;
    position: absolute;
    left: calc(0% + 50px);
    top: 0%;  
}  
.box3.ablumn{
    width: 200px;
    height: 200px;
    position: absolute;
    left: calc(0% + 360px);
    top: calc(50% - 120px );  
   
}
.box4.ablumn{
    width: 320px;
    height: 320px;
    position: absolute;
    left: calc(50% - 100px);
    bottom: 20px;  
}

.box5.ablumn{
    width: 220px;
    height: 220px;
    position: absolute;
    right: calc(0% + 32px);
    bottom: calc(10% + 30px);
}
.box6.ablumn{
    width: 480px;
    
    height: 480px;
    position: absolute;
    right: calc(5% + 30px);
    top: calc(-7.5% - 0px);
}



/* 翻牌細節設定 */
.about-banner-ablumns .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
   
}

.about-banner-ablumns .ablumn  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}



  
 .about-banner-ablumns .ablumn:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition:transform .6s ease-in-out;
  }
  
 .about-banner-ablumns .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .about-banner-ablumns .flip-card-front {
	width: 100%;
    height: 100%;
  	/* background-color: #bbb; */
  	/* color: black; */
}

.about-banner-ablumns .flip-card-front img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
   
}
.about-banner-ablumns .flip-card-back img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
  
    top: 0%;
    left: 0%;
    bottom: 0;
    right: 0;
    z-index: -1;
    /* transform: scale(0.8); */
    border-radius: 50%;
}

.about-banner-ablumns .flip-card-back h1{
    font-size: 50px;
    margin: calc(50% - 25px) 0;
   
    text-shadow: 0 0 10px var(--liner-color2),
                 0 0 10px var(--liner-color2),
                 0 0 10px var(--liner-color2),
                 0 0 10px var(--liner-color2);
      
}
.about-banner-ablumns .flip-card-back a{
    display: block;
    position: absolute;
    color:var(--body-color);
    padding: 5px 10px;
    text-decoration: underline;
    font-size: 30px;    
    right: 10%;
    bottom: 10%;

    color:var(--body-color);
    background-color:var(--liner-color2);
    border-radius: 25px;
    transition: .4s;
    
}
.about-banner-ablumns .flip-card-back a:hover{
    transform: scale(1.1);
}
.about-banner-ablumns .flip-card-back {
  background-color: var(--notice-color);
  color: var(--body-color);
  transform: rotateY(180deg);
}
  

@media screen and (max-width:1280px) {
  
    .about-banner .ch-title{
        
        font-size: 55px;
    }
    .about-banner .ch-title h2{
        font-size: .7em;
    }

    .about-banner  .ablumn{
        width: 300px;
        height: 300px;
    }

    .box1.ablumn{
        transform: translate(38px,-23px)scale(.85);
    }
    .box3.ablumn{
          left: calc(0% + 180px);
        transform: translate(38px,-23px)scale(.8);
    }
    .box4.ablumn{
        left: calc(69% - 100px);
        bottom: 50px;
    }
    .box5.ablumn{
        right: calc(12% + 32px);
        bottom: calc(36% + 30px);
    }
    .box6.ablumn{
        top: calc(10% - 129px);
        /* width: 40%; */
    }
   
}

@media screen and (max-width:960px){
    .big-wide-banner.about-banner-titles{
        padding: 0px 20px;
    }
    .about-banner .ch-title{
        text-align: center;
        margin: 0 auto;
        width: 80%;
        font-size: 35px;
    }
    .about-banner .ch-title h1{
        font-size: 1.1em;
    }
    .about-banner .ch-title h2{
        max-width: 800px;
        width: 80%;
        text-align: justify;
        margin: 0 auto;
        /* text-align: justify; */
       font-size: .8em;
    }
    
    .eng-title{
        margin: 0 auto;
        width: 65%;
        font-size: .4em;
    }
    .about-banner .about-banner-ablumns{
        display: flex;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 10px;
        transform: translateX(0px);
        /* overflow: hidden; */
    }
    .about-banner-ablumns .ablumn{
        flex-shrink: 0;
        position: static;
        /* width: 50%; */
        max-width: 300px;
        width: 100%;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        transform: scale(1) translate(0,0);
    }

    .about-banner-ablumns .flip-card-front img {
        max-height: none;
    
    }
    .about-banner-ablumns .flip-card-back img{

    }

}
@media screen and (max-width:576px) {
    .about-banner-titles{
        font-size: 30px;
    }
    .about-banner .ch-title h1{
        font-size: .9em;
    }
    .eng-title{
      
        font-size: .6em;
    }
    .about-banner-ablumns .ablumn{
      
        width: 100%;
    }

}

@media screen and (max-width: 414px){
    .about-banner-titles{
        font-size: 24px;
    }
    .about-banner .ch-title{
        width: 100%;
    }
    
    .about-banner .ch-title h2{
        width: 75%;
        font-size: .8em;
    }
    .eng-title{
        width: 75%;
        font-size: .7em;
    }
    .about-banner .about-banner-ablumns{
        margin-top: -10px;
         margin-bottom: 30px;
    }
    .silder-wide .slider-scroll-controller #next {
        right: 8.5%;
    }
    .silder-wide .slider-scroll-controller #prev {
        left: 8.5%;
    }

    
}