/* 麵包屑 */
.breadcrumbList {
  font-size: var(--CHfs-16px);
  margin-top: 30px;
  margin-left: 40px;
}

.breadcrumb li {
  padding: 10px 20px 10px 0px;
  position: relative;
  flex-shrink: 0;
}

.breadcrumb li a {
  color: var(--non-notice-color);
}

.breadcrumb li+li::before {
  content: "/";
  /* //+選取器，選到自己的下一層元素 */
  padding-right: 20px;
}

.breadcrumbList li:last-child a {
  font-weight: 100;
  font-size: 16px;
  cursor: pointer;
  color: var(--notice-color);
  font-weight: var(--fw-B-700);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  text-overflow: ellipsis;
  max-width: 600px;
  width: 1200%;
  top: 10px;
  left: 17px;

}

.breadcrumbList li:hover a {
  color: var(--notice-color);
}


.tagSpan {
  margin: 35px 0 20px -5px;
  padding: 0 3%;
  display: inline-flex;
}

.tagSpan span {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 1.25rem;
  line-height: 1.25rem;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--non-notice-color);
  background-color: var(--body-color);
  color: var(--black-color);
}

.tagSpan span:last-child {
  margin-right: 0px;
}

.tagSpan span:hover {
  background-color: var(--notice-color);
  color: var(--body-color);
}


@media screen and (max-width:760px) {
  .newsEventDetail .breadcrumbList li:last-child a {
    width: 800%;
  }
}
@media screen and (max-width:600px) {
    .newsEventDetail .breadcrumbList li:last-child a {
    width: 320%;
  }
}

@media screen and (max-width:414px) {
  .main-aboutus .tagSpan {
    margin: 35px 0 20px -25px;
  }

  .newsEventDetail .breadcrumbList li:last-child a {
    display: block;
  }

  .tagSpan span {
    margin-right: 18px;
    padding: 5px;
    width: 40px;
  }
    .newsEventDetail .breadcrumbList li:last-child a {
    width: 300%;
  }
}