.seach-filiter-all{
    padding: 20px;
    gap: 20px;
}
.seach-filiter{
    position: sticky;
    top: 13%;
    box-sizing: border-box;
    flex-basis: 40%;
    max-width: 400px;
    padding: 25px 20px 20px 20px;
    /* outline: 2px solid red; */
    align-self: flex-start;
    background: white;
    opacity: .85;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 35px;
}
.seach-filiter .music-kind,
.seach-filiter .mood-kind{
    margin-bottom: 30px;
    position: relative;
}
.seach-filiter h1:after{
    content: "";
    height: 5px;
    width: 100%;
    background-color: var(--non-notice-color);
    opacity: 0.3;
    position: absolute;
    bottom: -20%;
    left: 0;
}
.seach-filiter h1.title,.filter-list h1{
    color: var(--notice-color);
    font-size: var(--CHfs-28px);
    font-weight: var(--fw-B-700);
    color: var(--notice-color);
    margin: 1rem 0px;
    position: relative;
}


/* h1 摺疊選單 */
.title.slideToggle{
    cursor: pointer;
    position: relative;
}
.music-kind-tag .slideToggleContainer{
    margin-right: 5%;
}

.band-block-all .title.slideToggle::before{
    color: var(--body-color);
        bottom: -25px;
}
/* 摺疊選單預設偽元素樣式  */
.title.slideToggle::before{
    content: "-";
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    bottom: 0%;
    right: 5px;
    color: var(--black-color);
    transition: .3s ;
}
.title.slideToggle:hover::before{
    transform: scale(1.6);
}
/* 摺疊選單觸發由 - => +  */
.title.slideToggle.active::before{
    content: "+";
}
/* + 號 hover 效果 */
.title.slideToggle.active:hover::before {
   transform: rotate(180deg);
}
/* 搜尋標籤 */
.seach-filiter li{
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    /* overflow: hidden; */
}
.seach-filiter li > a{
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    

}

.seach-filiter li:hover{
    color: var(--body-color);
    background-color: var(--notice-color);
}
.seach-filiter li:active{
    
    color: var(--body-color);
    background-color: var(--active-color);
}
.seach-filiter li.checked{
    color: var(--body-color);
    background-color: var(--active-color);
}



/* 搜尋結果頁面 */
.filter-list{
    /* outline:2px green solid;  */    
    width: 50%;
    /* margin-bottom: 20vh; */
    flex-grow: 1;
}
.filter-list .title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    background-color: var(--notice-color);
    max-width: 250px;
    width: 40%;
    height: 10px;
}
.filter-list .title::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -14px;
    background-color: var(--notice-color);
    width: 75%;
    max-width: 450px;
    height: 6px;
    opacity: 0.3;
}

/* 搜尋,推薦,熱排 UL Container*/
.band-album-lists,
.serch-final-lists,
.recommond-lists,
.hito-lists{
    /* margin-top: 50px; */
    flex-wrap: wrap;
    padding: 25px 0;
    gap: 25px;
    
    border-bottom: 1px solid var(--non-notice-color);
    
}
.filter-list .hito-lists.d-flex{
    border-bottom:0px;
}
/* 搜尋,推薦,熱排 flex-item */
.band-album-list,
.serch-final-list,
.recommond-list,
.hito-list{
    background-color: var(--body-color);
    border-radius: 3px;
    border: 1px solid var(--non-notice-color);

    box-shadow:
    rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius:5px;
   
    width: 22%;
    min-width: 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.band-album-list .album-list-img,
.serch-final-list .final-list-img,
.recommond-list .recommond-list-img,
.hito-list .hito-list-img{
    background: linear-gradient(180deg, 
            rgba(249, 35, 112, 0.8) 0%,
            rgba(238, 146, 60, 0.728) 52.76%);
}
.band-album-list .album-list-img img,
.serch-final-list .final-list-img img,
.recommond-list .recommond-list-img img,
.hito-list .hito-list-img img{
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
}
.band-album-list .band-album-title,
.serch-final-list .indieGroup-title,
.recommond-list .indieGroup-title,
.hito-list .indieGroup-title{
    padding: 10px 0;
    box-sizing: border-box;
    font-size: var(--CHfs-20px);
    text-align: center;
    color:var(--black-color);
    font-weight: bold;
}
.band-album-list:hover .band-album-title,
.serch-final-list:hover .indieGroup-title,
.recommond-list:hover .indieGroup-title,
.hito-list:hover .indieGroup-title{
    background-color: var(--notice-color);
    color:var(--body-color)
}


.filter-list .hito-tag,
.filter-list .recommonand-tag{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 25px;
    
    box-sizing: border-box;
    padding: 10px 25px;
    width: 90px;
    border-radius: 20px;

    color: var(--body-color);
    background-color: var(--liner-color3);
    text-align: center
}



/* 樂團介紹歷屆專輯 */
.band-detail-album{
    /* 寬度去以下CSS 資料夾更改 */
    /* bandBigcover_topSonglists */
}
.band-detail-album .title-header{
    flex-direction: column;
}
.band-detail-album .band-album-lists{
    border-bottom: 0px;
    background-color: var(--body-color);
    padding: 2% 2%;
}

@media screen and (max-width:1440px) {
    .serch-final-list,
    .band-album-list,
    .recommond-list,
    .hito-list{
        width: 30%;
    }
}
@media screen and (max-width:1100px){
    .seach-filiter-all{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .seach-filiter{
        flex-basis: auto;
        margin: 0 auto;
        width: 90%;
        max-width: none;
        position: static;
    }
    .filter-list{
        width: 90%;
        
    } 
    .serch-final-lists,
    .band-album-lists,
    .recommond-lists,
    .hito-lists{
        /* justify-content: space-around; */
        column-gap: calc( 5% - 5px);
        
    }
    .serch-final-list,
    .band-album-list,
    .recommond-list,
    .hito-list
    {
        width: 30%;
    }
}
@media screen and (max-width:780px) {
   
    .serch-final-lists,
    .band-album-lists,
    .recommond-lists,
    .hito-lists{
        /* justify-content: space-around; */
        column-gap: 5%;

        
    }
    .serch-final-list,
    .band-album-list,
    .recommond-list,
    .hito-list
    {
        flex-grow: 1;
    }
}
  
    
   
    


@media screen and (max-width : 414px) {
    .seach-filiter{
        width: 92.5%;
    }
     .band-detail-album .band-album-lists{
        padding: 10% 2%;
    }
    .serch-final-lists,
    .band-album-lists,
    .recommond-lists,
    .hito-lists{
        justify-content: center;
    }
    .serch-final-list, .band-album-list, .recommond-list, .hito-list{
        flex-grow:0;
    }
    .seach-filiter .slideToggleContainer{
        text-align: center;
    }
    .seach-filiter li > a{
        padding: 10px 15px;
        
    }
    .music-kind-tag .slideToggleContainer li a{
        padding: 5px 15px;
    }
}