.footer {
    font-size: 16px;
    color: var(--body-color);
    font-weight: var(--fw-L-300);
}

.footer {
    font-size: 16px;
}
.footer p {
    color: var(--body-color);
}
.fuild-contanier.footer{
    background: linear-gradient(rgba(54, 54, 54, 0.5),
               rgba(54, 54, 54, 0.85)),
                
                url(../../img/footet-BG.jpg);
                
    color: white;
    padding: 30px 0;
    font-size: var(--CHfs-20px);
}
.footer-about{
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    column-gap: 8em;
    gap: 20px;
    position: relative;
}

.footer-about .footer-logo img{
    width: 150px;
}

/* social icon大小 */
.footer-about .socail-list a{
    color: white;
    font-size: 40px;
    margin-left: 20px;
}
.footer-about .socail-list a:hover{
    color:var(--notice-color);
}
.footer-about .socail-list a:active{
    color:var(--active-color);
}
.about-link,.new-link{
    column-gap: 1.5em;
}



.about-detail,.news-detail {
    flex-direction: column;
    min-width: 150px;
    
}
.about-detail>h2,.news-detail>h2{
    font-weight: 600;
    font-size: 1.4rem;
    font-size: var(--CHfs-18px);
    margin-bottom: 1.5rem;
}
.about-detail ul li,.news-detail ul li{
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.about-detail a,.news-detail a{
    color: white;
    text-decoration: underline;
    transition: .2s;
}
.about-detail{
    position: relative;
}

.about-detail a:hover,
.news-detail a:hover {
  color:var(--notice-color)
}

.footer-copyright{
    width: 70%;
    /* margin: 50px auto; */
}
.footer-copyright{
    font-size: .9rem;
    margin: 20px 0 20px 7%;
    letter-spacing: 2px;
    line-height: 1.6;
    
}
.footer-copyright p{
    margin-bottom: 10px;
}



@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 720px) {
    .footer-about{
        text-align: center;
        justify-content: center;
        gap: 45px;
        padding: 30px 0;
        font-size: 20px;
    }
    .footer-about::after{
        content: "";
        position: absolute;
        bottom: 0;
        width: 80%;
        border-radius: 10px;
        height: 2px;
        z-index: 10;
        background-color: rgba(204, 204, 204, 0.577);
     }
    .footer-about .footer-logo,
    .footer-about .socail-list,
    .footer-about .news-detail,
    .footer-about .about-detail{
        flex-basis: 35%;
    }
    .about-link,.new-link{
        justify-content: center;
    }
    .footer-about .socail-list a {
        margin-left: 10px;
    }
    
    .footer-copyright{
        margin: 20px auto;
        margin-left: 63px;
        text-align: justify;
    }
}

@media screen and (max-width: 415px) {
   
    .footer-about .news-detail,
    .footer-about .about-detail{
        flex-basis: 100%;
    }
    .about-detail,.news-detail{
        align-items: center;    
    }
    .about-detail::after{
        content: "";
        width: 30%;
        bottom: -8px;
        height: 2px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.242);
    }
    .about-link,.new-link {
        flex-direction: column;
    }
}