.motion {
    position: relative;
    color: black;
    padding: 50px 0px;
    column-gap: 100px;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.432); */
}

.motion-list {
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
}

.motion-title {
    min-width: 160px;
    padding-left: 40px;
    line-height: 3.0;
    font-size: 1.8rem;
    font-weight: bold;
}

.motion-title p {
    color: var(--non-notice-color2);
    font-weight: 600;
    font-size: var(--CHfs-16px);
}

.motion-list-icon {
    flex-grow: 1;
    flex-basis: 10%;
}

.motion-list-icon p {
    color: var(--non-notice-color2);
    margin-top: 22.5px;
    text-align: center;
    padding: 10px 10px;
    font-size: var(--CHfs-18px);
    font-weight: 600;
    border-radius: 5px;
}

/* icon style */
.motion-list-icon a {
    display: block;
    width: 100px;
    margin: 0 auto;
    min-width: 100px;
    /* outline: 1px solid greenyellow; */
}

.motion-list-icon img {
    width: 100%;
    /* max-width: 100%; */

    object-fit: cover;
    /* border: #0F0F0F 1px solid; */
    filter: grayscale(50%);
    transition: .35s;
    box-shadow: 1px 0px 3px 1px rgb(0 0 0 / 28%);
}

.motion-list-icon a:hover img {
    filter: grayscale(0%);
}

.motion-list-icon a:hover>i,
.motion-list-icon a:hover>p {
    color: var(--body-color);
    background-color: var(--notice-color);

}

.motion .more a {
    padding: 10px;
    width: 60px;
    display: block;

    color: #0F0F0F;
    text-align: center;
    font-size: .35em;
    font-weight: 600;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.motion .more a:hover {
    color: var(--body-color);
    background-color: var(--notice-color);
}

.motion .more a:active {
    color: var(--body-color);
    background-color: var(--active-color);
}


@media screen and (max-width: 1440px) {
    .motion-list {
        gap: 2rem;
        justify-content: center;
    }

}

@media screen and (max-width: 1280px) {
    .motion-list {
        gap: 1.25rem;
        justify-content: center;
    }
    .motion-list-icon {
        flex-basis: 25%;
    }

    .motion-list-icon a {
        width: 80%;
    }
}

@media screen and (max-width: 820px) {
    .motion.d-flex {
        flex-direction: column;
    }

    .motion-title {
        text-align: center;
        margin-bottom: 2rem;
        margin: 0;
        padding: 0;
    }

    .motion .motion-list {
        order: 2;
    }

    .motion-list-icon {
        flex-basis: 30%;
    }

    .motion-list-icon a {
        width: 60%;
    }

    .motion .more {
        margin: 20px 0 40px 0;
    }

}

@media screen and (max-width: 720px) {
    .motion-list {
        gap: 1.2rem;
        justify-content: center;
    }
}