
/* 標題 */
.recommend h1 {
  margin-left: 2.2rem;
  margin-bottom: 2.2rem;
  position: relative;
}
.recommend h1:hover::after{
  width: 380px;
}
.recommend h1:hover::before {
  width: 380px;
  transform: translateX(50px);
}
.recommend h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  background-color: var(--notice-color);
  width: 120px;
  height: 10px;

  transform: translateX(0);
  transition: .8s ease-in-out;
}

.recommend h1::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -14px;
  background-color: var(--notice-color);
  width: 330px;
  height: 6px;
  opacity: 0.3;

  transition: .5s ease-in-out;
}


/* container */
.recommend-lists{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  /* column-gap: 2rem; */
  gap: 2rem;

  box-sizing: border-box;
  padding: 2.2rem;

}

/* list-card*/
.recommend-lists .recommend-list{
  flex-basis: 300px;
  padding: 0;
  border-radius: 15px;
  background-color: var(--body-color);
  border: 1px solid var(--non-notice-color);
  overflow: hidden;

  filter: grayscale(50%);
  transform: translateY(-0px);
  transition: .35s;
}
.recommend-list:hover{
  filter: grayscale(0%);
  transform: translateY(-10px);
}
/* 圖片  */
.recommend-list img{
  display: block;
}

.recommend-list h2{
  text-align: center;
  margin: 10px 15px;
  line-height: 1.4;
}

.recommend-list .recommend-list-icons{
  margin: 10px 15px;
  text-align: right;
}

.recommend-list-icons >a{
  font-size: 20px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--non-notice-color);
  align-items: center;
  justify-content: center;

  box-shadow:
      rgb(60 64 67 / 30%) 0px 1px 2px 0px,
      rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.recommend-list-icons a:hover{
  background-color: var(--notice-color);
  color: var(--body-color);
}
.recommend-list-icons a:active{
  background-color: var(--active-color);
  color: var(--body-color);
}

